.glare-hover {
  position: relative;
  overflow: hidden;
  display: grid;
  place-items: center;
  border-radius: var(--gh-br);
  background: var(--gh-bg);
  border: 1px solid var(--gh-border);
  transition: transform 0.4s ease;
}

.glare-hover::before {
  content: '';
  position: absolute;
  inset: 0;
  background: linear-gradient(
    var(--gh-angle),
    hsla(0, 0%, 0%, 0) 60%,
    var(--gh-rgba) 70%,
    hsla(0, 0%, 0%, 0) 100%
  );
  background-size:
    var(--gh-size) var(--gh-size),
    100% 100%;
  background-repeat: no-repeat;
  background-position:
    -100% -100%,
    0 0;
  transition: var(--gh-duration) ease;
  pointer-events: none;
}

.glare-hover:hover::before {
  background-position:
    100% 100%,
    0 0;
}

.glare-hover:hover {
  cursor: pointer;
  transform: translateY(-3px);
}
